<ul class="breadcrumb">
  <li><%= link_to 'Domov', root_path %> <span class="divider">/</span></li>
  <li><%= link_to 'Všetky jedlá', foods_path %> <span class="divider">/</span></li>
  <li><%= link_to 'Jedlá', foods_path %> <span class="divider">/</span></li>
  <li><%= link_to 'Recepty', myRecipes_path %> <span class="divider">/</span></li>

  <li class="active">Jedálne lístky</li>
</ul>
<div class="page-header"><h1>Moje jedálne lístky</h1></div>

<div class="row">
  <%= render 'navigation/left' %>
  <table class="table span4">
    <tr>
      <th>Názov</th>
      <th>Hodnotenie</th>
      <th>Pridal</th>
      <th></th>
    </tr>
    <% @menus.each do |menu| %>
        <tr>
          <td><%= link_to menu.name, menu %></td>
          <td><%= menu.rank %></td>
          <td><%= menu.users.first.name %></td>
          <td><%= link_to "Pridaj", add_path(menu),method: :post %></td>
        </tr>
    <% end %>
  </table>


  <%= render 'navigation/right' %>
</div>


